<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--服务启动(1是)-->
    <add key="EnableService" value="1"/>
    <!--服务间隔时间(60秒)-->
    <add key="ServiceTimeInterval" value="60"/>
    <!--保存目录-->
    <add key="SaveDir" value="C:\SavePic\"/>
    <!--自定义磁盘(如：C)-->
    <add key="CustomDisk" value="F"/>
  </appSettings>
</configuration>