<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--服务启动(1是)-->
    <add key="EnableService" value="1"/>
    <!--普通订单服务间隔时间(60秒)-->
    <add key="ServiceTimeInterval" value="60"/>
    <!--保存目录-->
    <add key="SaveDir" value="C:\SavePic\"/>
  </appSettings>
</configuration>